.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
}
.gridContainer {
    height: 92vh;
    width: 92vh;
    display: grid;
    /* grid-template-columns: repeat(16, auto);
    grid-template-rows: repeat(16, auto); */
}

.square {
    border: 1px solid rgb(114, 114, 114);
}

.hover {
    background-color: grey;
}

.filled {
    background-color: black;
}

.clear {
    font-family: sans-serif;
    padding: 12px 24px;
    flex-grow: 0;
}