.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    margin: 0 auto;
}
.gridContainer {
    height: 92vh;
    width: 92vh;
    display: grid;
    border: 1px solid lightslategrey;
}

.square {
    border: 1px solid rgba(205, 205, 205, 0.125);
}

.hover {
    background-color: grey;
}

.filled {
    background-color: black;
}

.clear {
    font-family: sans-serif;
    padding: 12px 24px;
    flex-grow: 0;
}